<form-message></form-message>

<div class="topMainHeaderWrapper">
	<header class="newBadgeTopBar">
		<!-- <div class="topbar-x-breadcrumbs">
			<bg-breadcrumbs [linkentries]="editIssuerCrumbs"> </bg-breadcrumbs>
		</div> -->
		<div class="d-flex gap-2 flex-column">
			<h2 class="topbar-x-heading py-0" i18n>Edit institution</h2>
			<div class="badgeSubTitle" i18n>Edit this institution's information.</div>
		</div>
	</header>
</div>

<div class="smallContainer mt-3 mt-md-5 pt-0">
	<form (ngSubmit)="onSubmit()" class="u-margin-top3x" novalidate>
		<fieldset>
			<bg-formfield-image
				#imageField
				label="Picture (Optional)"
				imageLoaderName="issuer"
				[placeholderImage]="issuerImagePlacholderUrl"
				[control]="issuerForm.rawControlMap.issuer_image"
			></bg-formfield-image>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_name"
				[label]="'Name'"
				[errorMessage]="{ required: 'Please enter a name' }"
				[autofocus]="true"
			></bg-formfield-text>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_url"
				[label]="'Website URL'"
				[errorMessage]="'Please provide a valid URL'"
				[urlField]="true"
			></bg-formfield-text>

			<bg-formfield-select
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_email"
				[label]="'Contact email'"
				[placeholder]="'Please choose a verified email'"
				[options]="emailsOptions"
				[errorMessage]="{ required: 'Please choose a verified email' }"
			></bg-formfield-select>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_description"
				[label]="'Description'"
				[errorMessage]="{ required: 'Please provide a description' }"
				[multiline]="true"
			></bg-formfield-text>

			<bg-formfield-select
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_category"
				[label]="'Category'"
				[placeholder]="'Please enter a category'"
				[options]="[
					{
						label: 'School (primary schools, secondary schools, vocational schools, institutions of formal school education)',
						value: 'School'
					},
					{
						label: 'University (universities, technical colleges, ...)',
						value: 'University'
					},
					{
						label: 'Others (libraries, museums, FabLabs, companies, associations, ...)',
						value: 'Others'
					}
				]"
			></bg-formfield-select>

			<h2>Adresse</h2>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_street"
				[label]="'Street'"
				[errorMessage]="{ required: 'Please enter a street' }"
			></bg-formfield-text>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_streetnumber"
				[label]="'House number'"
				[fieldType]="'number'"
				[errorMessage]="{ required: 'Please enter a house number' }"
			></bg-formfield-text>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_zip"
				[label]="'Postal code'"
				[fieldType]="'number'"
				[errorMessage]="{ required: 'Please enter a zip code' }"
			></bg-formfield-text>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_city"
				[label]="'City'"
				[errorMessage]="{ required: 'Please enter a city' }"
			></bg-formfield-text>

			<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x gap-2">
				<button
					[routerLink]="['/issuer/issuers', issuerSlug]"
					class="new-button-secondary"
					[disabled-when-requesting]="true"
					i18n
				>
					Cancel
				</button>
				<button
					type="submit"
					class="primary-button"
					[disabled]="!!editIssuerFinished"
					[loading-promises]="[editIssuerFinished]"
					loading-message="Adding"
					i18n
				>
					Save
				</button>
			</div>
		</fieldset>
	</form>
</div>
