<ng-container *bgAwaitPromises="[profileLoaded]">
	<form-message></form-message>
	<div class="topMainHeaderWrapper">
		<div class="newBadgeTopBar">
			<!-- <div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
			</div>
		</div> -->

			<div class="topbar-x-heading" i18n>Edit Profile Name</div>
		</div>
	</div>
	<div class="smallContainer">
		<form [formGroup]="profileEditForm.rawControl" (ngSubmit)="submitEdit()" class="l-form" novalidate>
			<div class="w-100">
				<bg-formfield-text
					[control]="profileEditForm.rawControlMap.firstName"
					label="First Name"
					errorMessage="'Please enter your first name'"
					class="u-margin-bottom2x forminput-large"
					i18n-label
					i18n-errorMessage

				>
				</bg-formfield-text>

				<bg-formfield-text
					[control]="profileEditForm.rawControlMap.lastName"
					label="'Last Name'"
					errorMessage="'Please enter your last name'"
					class="u-margin-bottom4x forminput-large"
					i18n-label
					i18n-errorMessage
				></bg-formfield-text>
			</div>

			<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x gap-2 gap-2">
				<button
					class="new-button-secondary"
					[routerLink]="['../profile']"
					[disabled-when-requesting]="true"
					i18n
				>
					Cancel
				</button>

				<button type="submit" class="primary-button" [disabled-when-requesting]="true" i18n>Save</button>
			</div>
		</form>
	</div>
</ng-container>
