<ng-container *bgAwaitPromises="[issuerLoaded]">
	<form-message></form-message>
	<div class="topMainHeaderWrapper">
		<header class="newBadgeTopBar flex-column gap-2 align-items-start">
			<!-- <div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="editBadgeCrumbs"> </bg-breadcrumbs>
			</div> -->

			<div class="topbar-x-heading p-0">
				<h1 class="issuer-heading" i18n>Edit Badge</h1>
			</div>
			<p class="badgeSubTitle" i18n>Edit the information about this achievement.</p>
		</header>
	</div>
	<div class="l-containerxaxis l-containeryaxis mt-3 mt-md-5">
		<badgeclass-edit-form
			#badgeimage
			(save)="badgeClassSaved($event)"
			(cancel)="editingCanceled()"
			[issuerSlug]="issuerSlug"
			[badgeClass]="badgeClass"
			[scrolled]="scrolled"
			submitText="Save Changes"
			submittingText="Saving..."
			i18n-submitText
			i18n-submittingText
		></badgeclass-edit-form>
	</div>
</ng-container>
