.newIssuercard {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 16px;
	padding: 25px;
	margin-top: 45px;
	.detailIssuer {
		img {
			transform: scaleX(-1);
		}
	}
	.issuercard-x-topbadges {
		margin-top: 30px;
	}
	.instituation-list-view {
		display: flex;
		gap: 20px;
		border: 1px solid var(--border-color);
		border-radius: 12px;
		padding: 10px;
		width: 100%;
	}
}
.newIssuercard .detailIssuer img:dir(rtl) {
	transform: scaleX(1);
}
