.logo {
	width: 150px;
	height: 150px;
	min-width: 150px;
	min-height: 150px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 16px;
}

.mainSection {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	margin: 10px 0 60px 0;
	flex-wrap: wrap;
	&__heading {
		font-size: 25px;
		font-weight: bold;
		line-height: 35px;
	}
}

.badgePanelWrapper {
	display: flex;
	border-radius: 12px;
	flex-wrap: wrap;
	gap: 70px;
	.badgePanel {
		background-color: var(--primary-color);
		position: relative;
		width: 100%;
		color: white;
		&.orange {
			background-color: var(--burnt-sienna);
		}
		&__star {
			position: absolute;
			width: 80px;
			right: 50px;
			top: -50px;
			background-color: white;
			border-radius: 100px;
			padding: 5px;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		}
	}
	.badgePanelBody {
		padding: 20px;
		&__heading {
			font-size: 14px;
			font-weight: 700;
			line-height: 1.5em;
			margin-bottom: 15px;
			font-family: var(--IBM-font-family);
		}
		&__text {
			font-size: 16px;
			font-weight: 700;
			font-family: var(--IBM-font-family);
			line-height: 1.5em;
		}
	}
}
.badgePanelWrapper .badgePanel__star:dir(rtl) {
	right: unset;
	left: 50px;
}

.principalBlocksMain {
	margin-top: 30px;

	.principalBlocks {
		font-size: 25px;
		font-weight: bold;
		color: var(--primary-color);
		line-height: 30px;
		font-family: var(--IBM-font-family);
		text-align: center;
		&__img {
			min-width: 60px;
			width: 60px;
			height: 60px;
			object-fit: contain;
			border-radius: 4px;
			padding: 10px;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			position: absolute;
			top: -30px;
			left: 50%;
			background: var(--primary-color);
			transform: translateX(-50%);
		}
		&__heading {
			color: var(--primary-color);
			font-size: 16px;
			font-weight: 700;
			line-height: 1.5em;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-family: var(--IBM-font-family);
			margin-bottom: 10px;
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 2rem;
	margin-top: 60px;
	@media (max-width: 650px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 520px) {
		grid-template-columns: 1fr;
	}
}

.grid-card {
	text-align: center;
	position: relative;
	padding: 50px 20px 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	margin-bottom: 32px;
}

@media (min-width: 768px) {
	.mainSection {
		flex-wrap: nowrap;
		gap: 50px;
		margin: 30px 0 80px 0;

		&__heading {
			font-size: 30px;
			line-height: 40px;
		}
	}
	.logo {
		width: 250px;
		height: 250px;
		min-width: 250px;
		min-height: 250px;
	}
	.badgePanelWrapper {
		flex-wrap: nowrap;
		gap: 0;
		.badgePanelBody {
			padding: 30;
			&__heading {
				font-size: 16px;
			}
		}

		.badgePanel {
			width: 50%;
			&__star {
				width: 100px;
			}
		}
	}
	.principalBlocksMain {
		margin-top: 40px;
		.principalBlocks {
			font-size: 30px;
			font-weight: bold;
			line-height: 35px;
			text-align: center;
			&__img {
				min-width: 80px;
				width: 80px;
				height: 80px;
				top: -43px;
			}
		}
	}
	.grid {
		margin-top: 80px;
	}
}
@media (min-width: 1200px) {
	.mainSection {
		margin: 60px 0 100px 0;
		gap: 80px;
		&__heading {
			font-size: 40px;
			line-height: 50px;
		}
	}
	.logo {
		width: 350px;
		height: 350px;
		min-width: 350px;
		min-height: 350px;
	}
	.badgePanelWrapper {
		.badgePanelBody {
			padding: 50px;
			&__text {
				font-size: 20px;
				line-height: 30px;
			}
			&__heading {
				font-size: 18px;
				line-height: 25px;
			}
		}
	}
	.principalBlocksMain {
		margin-top: 60px;

		.principalBlocks {
			font-size: 45px;
			line-height: 50px;
			&__heading {
				font-size: 18px;
			}
		}
	}
	.grid {
		margin-top: 100px;
	}
	.grid-card {
		margin-bottom: 50px;
	}
}
