.logo {
	width: 350px;
	height: 350px;
	min-width: 350px;
	min-height: 350px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 16px;
}

.mainSection {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	align-items: center;
	margin: 60px 0 100px 0;
	&__heading {
		font-size: 45px;
		font-weight: bold;
		color: var(--primary-color);
		line-height: 50px;
		font-family: var(--IBM-font-family);
	}
}

.badgePanelWrapper {
	display: flex;
	border-radius: 12px;
	.badgePanel {
		background-color: var(--primary-color);
		position: relative;
		width: 50%;
		color: white;
		&.orange {
			background-color: var(--burnt-sienna);
		}
		&__star {
			position: absolute;
			width: 100px;
			right: 50px;
			top: -50px;
			background-color: white;
			border-radius: 100px;
			padding: 5px;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		}
	}
	.badgePanelBody {
		padding: 50px;
		&__heading {
			font-size: 16px;
			font-weight: 700;
			line-height: 1.5em;
			margin-bottom: 15px;
			font-family: var(--IBM-font-family);
		}
		&__text {
			font-size: 20px;
			font-weight: 700;
			font-family: var(--IBM-font-family);

			line-height: 1.5em;
		}
	}
}
.principalBlocksMain {
	margin-top: 60px;

	.principalBlocks {
		font-size: 45px;
		font-weight: bold;
		color: var(--primary-color);
		line-height: 50px;
		font-family: var(--IBM-font-family);
		text-align: center;
		&__img {
			min-width: 80px;
			width: 80px;
			height: 80px;
			object-fit: contain;
			border-radius: 4px;
			padding: 10px;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			position: absolute;
			top: -43px;
			left: 50%;
			background: var(--primary-color);
			transform: translateX(-50%);
		}
		&__heading {
			color: var(--primary-color);
			font-size: 18px;
			font-weight: 700;
			line-height: 1.5em;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-family: var(--IBM-font-family);
			margin-bottom: 10px;
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 2rem;
	margin-top: 100px;
	@media (max-width: 650px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 520px) {
		grid-template-columns: 1fr;
	}
}

.grid-card {
	text-align: center;
	position: relative;
	padding: 50px 20px 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	margin-bottom: 50px;
}

.video-container {
	height: 500px;
	width: 100%;
	padding-bottom: 5rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
	width: 100%;
	height: 100%;
}
