<form-message></form-message>
<div class="newBadgeTopBar gap-3">
	<div class="topbar-x-heading py-0" i18n>Create institution</div>
	<div class="badgeSubTitle" i18n>Create an institution to award badges.</div>
</div>

<div class="smallContainer">
	<form (ngSubmit)="onSubmit()" class="w-100 u-margin-top3x" novalidate>
		<bg-formfield-image
			#imageField
			label="Picture (Optional)"
			imageLoaderName="issuer"
			[placeholderImage]="issuerImagePlacholderUrl"
			[control]="issuerForm.rawControlMap.issuer_image"
		></bg-formfield-image>

		<bg-formfield-text
			class="u-margin-yaxis2x"
			[control]="issuerForm.rawControlMap.issuer_name"
			[label]="'Name'"
			[errorMessage]="{ required: 'Please enter a name' }"
			[autofocus]="true"
		></bg-formfield-text>

		<bg-formfield-text
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_url"
			[label]="'Website URL'"
			[errorMessage]="'Please provide a URL'"
			[urlField]="true"
			[fieldType]="'url'"
			type="url"
		></bg-formfield-text>

		<bg-formfield-select
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_email"
			[label]="'Contact email'"
			[placeholder]="'Please provide a valid email address'"
			[options]="emailsOptions"
			[errorMessage]="{ required: 'Please provide a valid email address' }"
		></bg-formfield-select>

		<bg-formfield-text
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_description"
			[label]="'Description'"
			[errorMessage]="{ required: 'Please provide a description' }"
			[multiline]="true"
		></bg-formfield-text>

		<bg-formfield-select
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_category"
			[label]="'Category'"
			[placeholder]="'Please enter a category'"
			[options]="[
				{
					label: 'School (primary schools, secondary schools, vocational schools, institutions of formal school education)',
					value: 'School'
				},
				{
					label: 'University (universities, technical colleges, ...)',
					value: 'University'
				},
				{
					label: 'Others (libraries, museums, FabLabs, companies, associations, ...)',
					value: 'Others'
				}
			]"
		></bg-formfield-select>

		<h2 i18n>Address</h2>

		<bg-formfield-text
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_street"
			[label]="'Street'"
			[errorMessage]="{ required: 'Please enter a street' }"
		></bg-formfield-text>

		<bg-formfield-text
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_streetnumber"
			[label]="'House number'"
			[fieldType]="'number'"
			[errorMessage]="{ required: 'Please enter a house number' }"
		></bg-formfield-text>

		<bg-formfield-text
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_zip"
			[label]="'Postal code'"
			[fieldType]="'number'"
			[errorMessage]="{ required: 'Please enter a zip code' }"
		></bg-formfield-text>

		<bg-formfield-text
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_city"
			[label]="'City'"
			[errorMessage]="{ required: 'Please enter a city' }"
		></bg-formfield-text>

		<label
			[class.checkbox-is-error]="
				issuerForm.rawControlMap.agreedTerms.dirty && !issuerForm.rawControlMap.agreedTerms.valid
			"
			*ngIf="dataProcessorUrl"
			class="checkbox l-marginBottom-2x"
			for="terms"
		>
			<input name="terms" id="terms" type="checkbox" [formControl]="issuerForm.rawControlMap.agreedTerms" />
			<span class="checkbox-x-text" i18n
				>I have read and agree to the <a target="_blank" [href]="dataProcessorUrl">Privacy Policy</a>
				to them.
				<div
					*ngIf="issuerForm.rawControlMap.agreedTerms.dirty && !issuerForm.rawControlMap.agreedTerms.valid"
					class="checkbox-x-errortext"
				>
					Please read the privacy policy and agree to it if you wish to continue.
				</div>
			</span>
		</label>

		<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x gap-2">
			<button [routerLink]="['/issuer']" class="new-button-secondary" [disabled-when-requesting]="true">
				Cancel
			</button>
			<button
				type="submit"
				class="primary-button"
				[disabled]="!!addIssuerFinished"
				[loading-promises]="[addIssuerFinished]"
				loading-message="Add"
				i18n
			>
				Create institution
			</button>
		</div>
	</form>
</div>
