#main-page {
	max-width: 1660px;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 10px;
}
#map {
	width: 100%;
	border-radius: 10px;
	height: 400px;
	border: 1px solid var(--border-color);
}

.viewtoggle-container {
	display: flex;
}

.map-main-wrapper {
	position: relative;
}

#map-legend {
	position: absolute;
	left: 5px;
	bottom: 5px;
	padding: 0.8em;
	background: white;
}

.newBadgeTopBar.instituationTopBar {
	gap: 10px;
	flex-wrap: wrap;
}

.viewtoggle-button.active svg path {
	stroke: var(--dark-turquoise);
}

.largeToggle .viewtoggle-map .viewtoggle-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: none;
	background-color: white;
	height: 50px;
	border: 1px solid var(--border-color);
	width: 60px;
}
.largeToggle .viewtoggle-map .viewtoggle-button:dir(rtl) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.newBadgeSearchBar.largeToggle .viewtoggle.lastToggle .viewtoggle-x-grid {
	border-left: 1px solid var(--border-color);
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.newBadgeSearchBar.largeToggle .viewtoggle.lastToggle .viewtoggle-x-grid:dir(rtl) {
	border-left: 0;
	border-right: 1px solid var(--border-color);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.newBadgeSearchBar.largeToggle .viewtoggle .viewtoggle-x-grid {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
}

@media only screen and (min-width: 768px) {
	.newBadgeTopBar.instituationTopBar {
		gap: 30px;
	}

	.largeToggle .viewtoggle-map .viewtoggle-button {
		height: 60px;
	}
}
@media only screen and (min-width: 1400px) {
	.newBadgeTopBar.instituationTopBar {
		gap: 130px;
		flex-wrap: nowrap;
	}
}
